<div class="container">
    <div id="newnote"></div>
    <div id="articles">
    <h1>Article List</h1>
    {{#each articles}}
        <p data-id="{{this._id}}">{{this.title}} <br /> <a href="{{this.link}}">{{this.link}}</a></p>
    {{/each}}
    </div>
    <div id="savednotes"></div>
</div>

