<div class="container">
    <h1 id="cheerio-header">Cheerio-News!</h1>
</div>
<div class="container-fluid">
    <div class="col-sm-6 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Articles</h3>
            </div>
            <div class="panel-body" id="articles">
                {{#each articles}}
                    <p data-id="{{this._id}}">{{this.title}} <br/> <a href="{{this.link}}">{{this.link}}</a></p>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Notes</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <h2 id="headline""></h2>
                </div>
                <div class="col-sm-6">
                    <div id="newnote">
                        <span class="sm-title">New Note</span>
                        <textarea id="newbodyinput" name="body"></textarea>
                        <button id="savenote" data-id="" class="btn btn-info pull-right">Save Note</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="savednotes">
                        <span class="sm-title">Saved Notes</span>
                        <textarea id="savedbodyinput" name="body" readonly></textarea>
                        <button id="deletenotes" data-id="" class="btn btn-info pull-right">Delete Notes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>